.background{
  background-color: #21323A;
}

.box{
  background-color: #2B3A42;
  margin: 5px;
  border-radius: 0px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.minibox{
  background-color: #2B3A42;
  margin: 0px;
  border-radius: 0px;
  width: 140px;
}

.minibox2{
  background-color: #303F46;
  margin: 0px;
  border-radius: 0px;
  width: 140px;
}

.b-box1{
  background-color: #2B3A42;
  border-radius: 0px;
  text-align: center;
}

.b-box2{
  background-color: #303F46;
  border-radius: 0px;
  text-align: center;
}

.circleChart{
  height: 100px;
  width:100px;
  margin: auto;
  display: block;
}

.clockText{
  text-align: center;
  font-size: 3em;
}

.value{
  color: #8D48AB;
}

.title{
  font-size: 2em;
  text-align: left;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.subTitle{
  font-size: 1.5em;
  text-align: center;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.heading{
  font-size: 1.5em;
  text-align: left;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.label{
  margin: auto;
  text-align: center;
}

#motorCharts{
  margin-top: -20px;
}

.motorContainer{
  margin-top: 5px;
  margin-bottom: 5px;
}

.motorLabel{
  margin: 2px;
  text-align: left;
}

.powerLabel{
  display: block;
  width: 120px;
  text-align: right;
  margin: auto;
  margin-right: 10px;

}

.powerChart{
  margin-right: 10px;
  margin-left: 5px;
}

#robotDiagram{
  margin-top: auto;
  margin-bottom: auto;
}

#autoDiagram{
  margin-top: -40px;
}

.buttonLabel{
  margin: 0px;
  text-align: center;
}

.touchButton{
  /*padding: 20px 6px 20px 6px !important;*/
  line-height: 5px;
  height: 80px;
  width: 120px;
  margin: 5;
  background-color: #303F46 !important;
}

.touchButton.left{
  width: 80px;
  margin-right: 0px;
  border-radius: 3px 0 0 3px;
}

.touchButton.right{
  width: 80px;
  margin-left: 0px;
  border-radius: 0 3px 3px 0;
}

.touchButton.autoSelector{
  width: 120px;
}

.buttonSelected{
  background-color: #8D48AB !important;
}

.buttonText{
  line-height: 15px;
}

.touchButton2{
  height: 50px;
  width: 100px;
  margin: 5px;
  padding: 10px;
  background-color: #303F46;
}

md-checkbox{
  margin-left: 5px !important;
}

md-input-container{
  width: 150px;
}
