
.green{
  color: #00ff00;
}

.red{
  color: #ff0000;
}

.background{
  background-color: #000000;
}

.mainContainer{
  /*margin: auto;*/
  position: relative;
}

.label{
  font-size: 3em;
  /*color: #00ccff;*/
}

.centeredText{
  text-align: center;
  vertical-align: middle;
  margin: auto;
}

.bigText{
  font-size: 6em;
}

.bigBrackets{
  font-size: 1.5em;
}

body{
  color: #cc66ff;
}

#circle{
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#gearText{
  position: absolute;
  bottom: 0;
}

div .hidden{
  display: none ;
}

#textContainer1{
  position: relative;
  /*top: 10%;*/
}

#gearCollected{
  height: 100%;
}